# Zig
.zig-cache
zig-out

# Ziex
dist
/bundle

# Node.js
node_modules

# Project Specific
# pkg/transformjs
tmp
test/data/assets/
/package.json
/bun.lock
/src/cli/init/template/bun.lock

site/assets/playground

# macOS
.DS_Store